doctype
html(lang=language)
    head
        meta(charset=charset)
        if (page == 1)
            title #{titulo}
        else
            title #{tituloPagina} | #{titulo}
        link(rel="stylesheet", href="./css/style.css")